*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Virtualenv
include
lib
src

# Other
*.log
*.db
project/static
project/media
local_settings.py
